@media (max-width: 1000px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 13px;
  }

  .project-wrapper {
    width: 100%;
  }

  .project {
    height: 150px;
  }

  .project h4 {
    font-size: 20px;
  }
}
