body {
  font-family: sans-serif;
  width: 100%;
  height: 800px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

h2 {
  text-align: center;
  margin-top: 18px;
}

#project2023,
#project2024,
#project2025 {
  display: none;
}

.project-wrapper {
  border: 1px solid;
  border-radius: 10px;
  background-color: lightgray;
  margin: auto;
  margin-top: 60px;
  width: 70%;
}

.projectYears {
  margin: auto;
  margin-top: 20px;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.projectYears h3 {
  padding: 10px;
  border-radius: 10px;
  background-color: aquamarine;
  cursor: pointer;
}

.wrapperProject {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  background-color: lightblue;
  width: 70%;
  height: 100px;
  border-radius: 10px;
  border: 4px solid lightblue;
  margin-top: 40px;
  cursor: pointer;
  transition: 1s;
}

.project h4 {
  font-size: 30px;
  color: white;
  position: absolute;
  margin-top: -60px;
  width: 50%;
  text-align: center;
  transition: 1s;
}

.project p {
  opacity: 0;
  color: white;
  font-size: 14px;
  position: absolute;
  margin-top: -80px;
  width: 50%;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  transition: 1s;
}

#portofolio {
  background-image: url(../img/background\ project/porto.png);
}

#fifa {
  background-image: url(../img/background\ project/fifa.png);
}

.project-item {
  color: white;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(3px);
  filter: brightness(0.4);
  transition: 1s;
}

.project:hover {
  height: 350px;
}

.project-item:hover {
  filter: blur(0px);
  filter: brightness(1);
}
